## Main Task
Get the stock price data between any interval using Python!

### Solution
We want to get the latest dataset everytime we are running the code! We need to use **yfinance API**!  
It is an API provided by Yahoo Finance to collect the latest stock price data!

In [4]:
import pandas as pd
import yfinance as yf
import datetime
from datetime import date, timedelta

In [5]:
today = date.today()

In [6]:
d1 = today.strftime('%Y-%m-%d')
end_date = d1
d2 = date.today() - timedelta(days=360)
d2 = d2.strftime('%Y-%m-%d')
start_date = d2

In [7]:
print(d1)

print(d2)

2024-12-19
2023-12-25

In [8]:
data = yf.download('AAPL', start=start_date,
                   end=end_date,
                   progress=False)

In [9]:
data.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2023-12-26,192.108856,193.050003,193.889999,192.830002,193.610001,28919300
2023-12-27,192.208359,193.149994,193.500000,191.089996,192.490005,48087700
2023-12-28,192.636261,193.580002,194.660004,193.169998,194.139999,34049900
2023-12-29,191.591385,192.529999,194.399994,191.729996,193.899994,42628800
2024-01-02,184.734985,185.639999,188.440002,183.889999,187.149994,82488700

> The above code will collect the stock price data from today to the last 360 days. In this dataset, Date is not a column, itâ€™s the index of this dataset.

In [11]:
#  Convert the index (DATE) into a column
data["Date"] = data.index
data = data[["Date", "Open", "High", 
             "Low", "Close", "Adj Close", "Volume"]]
data.reset_index(drop=True, inplace=True)
print(data.head())

Price  Date        Open        High         Low       Close   Adj Close  \
Ticker             AAPL        AAPL        AAPL        AAPL        AAPL
0         0  193.610001  193.889999  192.830002  193.050003  192.108856
1         1  192.490005  193.500000  191.089996  193.149994  192.208359
2         2  194.139999  194.660004  193.169998  193.580002  192.636261
3         3  193.899994  194.399994  191.729996  192.529999  191.591385
4         4  187.149994  188.440002  183.889999  185.639999  184.734985

Price     Volume
Ticker      AAPL
0       28919300
1       48087700
2       34049900
3       42628800
4       82488700

> Collecting the latest stock price dataset between any time interval, using the Python programming language.